<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="historialCategoria">
            <h2><span>Historial Categoria</span> {{ historialCategoria.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Mes</span></dt>
                <dd>
                    <span>{{ historialCategoria.mes }}</span>
                </dd>
                <dt><span>Se Convierte En</span></dt>
                <dd>
                    <span>{{ historialCategoria.seConvierteEn }}</span>
                </dd>
                <dt><span>Cliente</span></dt>
                <dd>
                    <div *ngIf="historialCategoria.cliente">
                        <a [routerLink]="['/cliente', historialCategoria.cliente?.id, 'view']">{{ historialCategoria.cliente?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/historial-categoria', historialCategoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
