<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="carrito">
            <h2><span>Carrito</span> {{ carrito.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Tipo</span></dt>
                <dd>
                    <span>{{ carrito.tipo }}</span>
                </dd>
                <dt><span>Total</span></dt>
                <dd>
                    <span>{{ carrito.total }}</span>
                </dd>
                <dt><span>Fecha</span></dt>
                <dd>
                    <span>{{ carrito.fecha }}</span>
                </dd>
                <dt><span>Cliente</span></dt>
                <dd>
                    <div *ngIf="carrito.cliente">
                        <a [routerLink]="['/cliente', carrito.cliente?.id, 'view']">{{ carrito.cliente?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/carrito', carrito.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
