<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span>Cliente</span> {{ cliente.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Es Vip</span></dt>
                <dd>
                    <span>{{ cliente.esVip }}</span>
                </dd>
                <dt><span>Compras Ult Mes</span></dt>
                <dd>
                    <span>{{ cliente.comprasUltMes }}</span>
                </dd>
                <dt><span>Usuario</span></dt>
                <dd>
                    {{ cliente.usuario?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
