<div>
    <h2 id="page-heading">
        <span>Producto Cantidads</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-producto-cantidad" [routerLink]="['/producto-cantidad/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Producto Cantidad
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productoCantidads?.length === 0">
        <span>No productoCantidads found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productoCantidads?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Cantidad</span></th>
                    <th scope="col" ><span>Producto</span></th>
                    <th scope="col" ><span>Carrito</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productoCantidad of productoCantidads ;trackBy: trackId">
                    <td><a [routerLink]="['/producto-cantidad', productoCantidad.id, 'view']">{{ productoCantidad.id }}</a></td>
                    <td>{{ productoCantidad.cantidad }}</td>
                    <td>
                        <div *ngIf="productoCantidad.producto">
                            <a [routerLink]="['/producto', productoCantidad.producto?.id, 'view']" >{{ productoCantidad.producto?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="productoCantidad.carrito">
                            <a [routerLink]="['/carrito', productoCantidad.carrito?.id, 'view']" >{{ productoCantidad.carrito?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/producto-cantidad', productoCantidad.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/producto-cantidad', productoCantidad.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productoCantidad)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
