<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productoCantidad">
            <h2><span>Producto Cantidad</span> {{ productoCantidad.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Cantidad</span></dt>
                <dd>
                    <span>{{ productoCantidad.cantidad }}</span>
                </dd>
                <dt><span>Producto</span></dt>
                <dd>
                    <div *ngIf="productoCantidad.producto">
                        <a [routerLink]="['/producto', productoCantidad.producto?.id, 'view']">{{ productoCantidad.producto?.id }}</a>
                    </div>
                </dd>
                <dt><span>Carrito</span></dt>
                <dd>
                    <div *ngIf="productoCantidad.carrito">
                        <a [routerLink]="['/carrito', productoCantidad.carrito?.id, 'view']">{{ productoCantidad.carrito?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/producto-cantidad', productoCantidad.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
